*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
html body{
	max-width: 100%;
	overflow-x: hidden;
}

header{
	width: 1920px;
	padding-top: 40px;
	height: 390px;
	background-color: #0020F4;
}

.skyimage{
	margin-left:180px ;
}

header li{
	margin-left: 40px;
}

nav,
nav ul,
nav li{
	display: inline-block;
	margin-left: 100px;
}

ul{
	margin-left: 250px;
}

nav,
header > a {
	vertical-align: middle;
}

nav, a{
	display: inline-block;
	color: #FFFFFF;
	margin-left: 43px;
}

.contact{
	padding: 18px 43px;
	color: #171717;
	background-color: #FFFFFF;
	border-radius: 30px;
}
.mainimage{
	max-width: 1195px;
	max-height: 600px;
	margin:auto;
	margin-top: -100px;
}
.miniimages{
	margin:auto;
	margin-top:60px;
	margin-bottom: 60px;
	margin-left: 260px;
}
p{
	max-width: 951px;
	margin-left: 180px;
	margin-top: 18px;

}

.info{
	
	display: inline-block;
	background-color: #0A22F4;
	color: #FFFFFF;
	border: 1px solid blue;
	border-color: #0A22F4;
	border-radius: 15px;
	margin-top: 76px;
	margin-left: 800px;
	padding-top: 18px;
	padding-right: 19px;
	padding-bottom: 18px;
	padding-left: 19px;
}
footer{
	max-width: 1920px;
	background-color: #0A22F4;
	margin-top: 180px;
}
.addinfo{
	background-color: #0A22F4;
	margin-top: ;
	margin-left: 240px;
}
.smallinfo{
	max-width: 463px;
	max-height: 99px;
	margin-left: 5px;
	margin-top: 30px;
}
.icon{
	background-color: #FFFFFF;
	max-width: 70px;
	max-height: 70px;
	padding: 22px 22px 22px;
	border-radius: 50px;
	margin-top: 325px;
	margin-left: 270px;
}
.mail{
	background-color: #FFFFFF;
	max-width: 70px;
	max-height: 70px;
	padding: 22px 22px 22px;
	border-radius: 50px;
	margin-left: 400px;
}